.advantages {
  &__container {
    margin: 0 auto 0 auto;

    width: 1920px;
    height: fit-content;

    padding: 0 140px 280px 140px;
  }
  &__title {
    margin: 0 auto 104px auto;
    text-align: center;
    font-weight: 300;
    font-size: 40px;
    line-height: 40px;

    color: #080606;
  }
  &__list {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(484px, 1fr));
    grid-auto-rows: 447px;
    grid-gap: 12px;

    margin: -47px;
  }
  &__item {
    margin: 47px;
  }

  &-card {
    &__container {
      width: 484px;
      height: 400px;
    }
    &__title {
      margin-bottom: 36px;

      font-weight: 300;
      font-size: 30px;
      line-height: 40px;

      color: #080606;
    }
    &__description {
      display: flex;
    }
    &__image {
      margin-right: 50px;
    }
    &__ico {
    }
    &__text {
      width: 300px;

      font-weight: 300;
      font-size: 20px;
      line-height: 30px;

      color: #59443f;
    }
  }
}
