.header {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;

  background-color: #fffefe;
  &__container {
    margin: 65px auto 0 auto;
    padding: 0 80px 0 80px;

    height: 100px;
    width: 1920px;

    display: flex;
    align-items: center;

    // border: 1px red dotted;
  }
  &__logo {
    margin-right: 235px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }
  &__sityselect-link {
    margin-left: auto;

    color: #ffc59e;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: #a88066;
    }
  }
}

.logo {
  // &__link {
  // }
  &__ico {
    width: 100px;
    height: 100px;
  }
}

.nav {
  &__list {
    margin: 0;
    padding: 0;

    display: flex;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 80px;
    }
  }
  &__link {
    color: #c3b9b5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: #59443f;
    }
  }
}
