.hero {
  &__container {
    position: relative;

    margin: 0 auto 0 auto;

    width: 1920px;
    height: 915px;

    border: 1px blue dotted;
  }
  &__title {
    margin-top: 150px;
    margin-left: 335px;
    font-weight: 300;
    font-size: 80px;
    line-height: 110px;

    color: #080606;
  }
  &__picture {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &__button {
    margin-top: 50px;
    margin-left: 335px;

    height: 70px;
    width: 325px;

    border-radius: 35px;
    border: 0px;

    box-shadow: 0px 4px 20px #ffc59e;

    background-color: #ffc59e;

    font-weight: 700;
    font-size: 20px;
    line-height: 20px;

    color: #ffffff;
  }
}
