.history {
  background-color: #fbf8f8;
  &__container {
    margin: 0 auto 0 auto;

    width: 1920px;
    height: fit-content;

    padding: 180px 333px 0 333px;

    // border: 1px red dotted;
  }
  &__title {
    margin: 0 auto 40px auto;

    font-weight: 300;
    font-size: 40px;
    line-height: 40px;

    text-align: center;

    color: #080606;
  }
  &__text {
    width: 480px;

    margin: 0 auto 0 auto;

    font-weight: 300;
    font-size: 20px;
    line-height: 30px;

    color: #59443f;
  }
  &__more {
    &-link {
      display: block;
      margin: 0 auto 0 auto;
      width: 150px;

      &:hover,
      &:focus {
        .history__more-ico {
          fill: #59443f;
        }
        .history__more-text {
          color: #59443f;
        }
      }
    }
    &-container {
      display: flex;
    }
    &-text {
      width: 150px;

      font-weight: 700;
      font-size: 20px;
      line-height: 20px;

      align-items: center;

      color: #ffc59e;
      transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &-ico {
      fill: #ffc59e;
      transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
