.results {
  position: relative;
  margin: 0 auto 0 auto;

  width: 1920px;
  height: 1139px;

  padding: 316px 312px 0 602px;

  &__title {
    display: none;
  }
  &__numbers {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 144px;
    line-height: 110px;

    color: #59443f;
  }
  &__text {
    font-weight: 300;
    font-size: 80px;
    line-height: 110px;

    color: #080606;
  }
  &__image {
    position: absolute;
    display: block;
    top: 600px;
    left: 987px;
  }
}
