@import './common';
@import '../node_modules/bootstrap/scss/bootstrap';

body {
  font-family: 'Comfortaa';
  font-style: normal;

  background-color: #fffefe;
}
a,
a:active,
a:hover {
  text-decoration: none;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

@import './header';
@import './hero';
@import './services';
@import './history';
@import './team';
@import './results';
@import './advantage';
