{{#each this}}
  <div class='carousel-item {{active}}'>
    <div class='hero__container'>
      <h1 class='hero__title'>{{title}}</h1>
      <img
        class='hero__picture'
        src={{srcImage2x}}
        height='915'
        alt='aibolit'
      />
      <button class='hero__button' type='button'>Записатися</button>
      <ul class='hero__social-link social-link__list'>
        <li class='social-link__item'>
          <a class='social-link__link' href='#'>
            <img
              class='social-link__ico'
              src='./images/hero/fb.svg'
              alt='facebook'
            />
          </a>
        </li>
        <li class='social-link__item'>
          <a class='social-link__link' href='#'>
            <img
              class='social-link__ico'
              src='./images/hero/inst.svg'
              alt='instagramm'
            />
          </a>
        </li>
        <li class='social-link__item'>
          <a class='social-link__link' href='#'>
            <img
              class='social-link__ico'
              src='./images/hero/youtube.svg'
              alt='youtube'
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
{{/each}}