{{#each this}}
  <li class='services__item'>
    <h2 class='services__title'>{{name}}</h2>
    <img
      class='servisec__picture'
      src='{{srcImage}}'
      alt='{{name}}'
      width='110'
      height='110'
    />
    <p class='services__quantity'>{{quantity}}</p>
  </li>
{{/each}}