<section class="advantages">
  <div class="advantages__container">
    <h2 class="advantages__title">Чому господарі обирають нас?</h2>
    <ul class="advantages__list">
      <li class="advantages__item advantages-card">
        <div class="advantages-card__container">
          <h3 class="advantages-card__title">Працюємо цілодобово</h3>
          <div class="advantages-card__description">
            <img class="advantages-card__image" src="#" alt="advantages" />
            <p class="advantages-card__text">
              Ми готові в будь який час доби прийняти хатніх вихованців та їх
              власників
            </p>
          </div>
        </div>
      </li>
      <li class="advantages__item advantages-card">
        <div class="advantages-card__container">
          <h3 class="advantages-card__title">Великий перелік послуг</h3>
          <div class="advantages-card__description">
            <img class="advantages-card__image" src="#" alt="advantages" />
            <p class="advantages-card__text">
              Окрім багатопрофільних лікарів в лікарні розвинуті вузьки
              направлення у ветеренарії - офтальмологія, стоматологія,
              дерматологія, травмотологія, ортопедія та онкологія
            </p>
          </div>
        </div>
      </li>
      <li class="advantages__item advantages-card">
        <div class="advantages-card__container">
          <h3 class="advantages-card__title">Великий досвід</h3>
          <div class="advantages-card__description">
            <img class="advantages-card__image" src="#" alt="advantages" />
            <p class="advantages-card__text">
              30 висококваліфікованих лікарів нашої клініки надають ветеренарну
              допомогу вже на протязі 18 років
            </p>
          </div>
        </div>
      </li>
      <li class="advantages__item advantages-card">
        <div class="advantages-card__container">
          <h3 class="advantages-card__title">Власна лабораторія</h3>
          <div class="advantages-card__description">
            <img class="advantages-card__image" src="#" alt="advantages" />
            <p class="advantages-card__text">
              Обладнана професійним обладнанням виробництва компанії IDEXX
              International Inc.(США), яке дозволяє отримати результати
              обстеження одразу на прийомі
            </p>
          </div>
        </div>
      </li>
      <li class="advantages__item advantages-card">
        <div class="advantages-card__container">
          <h3 class="advantages-card__title">Обладнані стаціонари</h3>
          <div class="advantages-card__description">
            <img class="advantages-card__image" src="#" alt="advantages" />
            <p class="advantages-card__text">
              Звичайний та інфекційний стаціонар з індівідуальним підінрівом
              кожної клітки. Для вихованців у критичному стані передбачені
              кисневі камери
            </p>
          </div>
        </div>
      </li>
      <li class="advantages__item advantages-card">
        <div class="advantages-card__container">
          <h3 class="advantages-card__title">Найсучасне обладнання</h3>
          <div class="advantages-card__description">
            <img class="advantages-card__image" src="#" alt="advantages" />
            <p class="advantages-card__text">
              Крім лабораторного обладнання та цифрового рентгена у клініці
              використовується сучасний ендоскоп KARL STORZ
            </p>
          </div>
        </div>
      </li>
      <li class="advantages__item advantages-card">
        <div class="advantages-card__container">
          <h3 class="advantages-card__title">Запис на прийом онлайн</h3>
          <div class="advantages-card__description">
            <img class="advantages-card__image" src="#" alt="advantages" />
            <p class="advantages-card__text">
              Запис на прийом дозволяє уникнути очікувань у черзі, але якщо ви
              не можете приїхати – ми виїжджаємо додому!
            </p>
          </div>
        </div>
      </li>
      <li class="advantages__item advantages-card">
        <div class="advantages-card__container">
          <h3 class="advantages-card__title">Аптека та зоомагазин</h3>
          <div class="advantages-card__description">
            <img class="advantages-card__image" src="#" alt="advantages" />
            <p class="advantages-card__text">
              Для зручності в клініці передбачено аптечний пункт, а також бутік
              з одягом та косметичними засобами для догляду за домашніми
              улюбленцями.
            </p>
          </div>
        </div>
      </li>
      <li class="advantages__item advantages-card">
        <div class="advantages-card__container">
          <h3 class="advantages-card__title">Грумінг-салон</h3>
          <div class="advantages-card__description">
            <img class="advantages-card__image" src="#" alt="advantages" />
            <p class="advantages-card__text">
              Окремий кабінет для проведення гігієнічних та косметичних
              процедур, таких як миття та сушіння, стрижка або тримінг, догляд
              за вухами, очима та пазурами та багато іншого
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
