<section class="contacts">
  <div class="contacts__container">
    <h2 class="contacts__title">Контакти</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <div class="location__container">
          <h3 class="location__title">АйГав на Пасічній</h3>
          <ul class="location__list">
            <li class="location__item">
              <svg class="location__ico" width="50" height="50">
                <use
                  xlink:href="./images/contacts/ico-contacts.svg#icon-location"
                ></use>
              </svg>
              <h4 class="location__text">Сихівський район, вул. Пасічна, 70</h4>
            </li>
            <li class="location__item">
              <svg class="location__ico" width="50" height="50">
                <use
                  xlink:href="./images/contacts/ico-contacts.svg#icon-phone"
                ></use>
                <h4 class="location__text">+380670000001</h4>
              </svg>
            </li>
            <li class="location__item">
              <svg class="location__ico" width="50" height="50">
                <use
                  xlink:href="./images/contacts/ico-contacts.svg#icon-clock"
                ></use>
              </svg>
              <h4 class="location__text">Цілодобово</h4>
            </li>
          </ul>
        </div>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d643.4771859877357!2d24.073254397200202!3d49.82538032776637!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473ac2b20536376b%3A0x7deba23b03342200!2z0LLRg9C70LjRhtGPINCf0LDRgdGW0YfQvdCwLCA3MCwg0JvRjNCy0ZbQsiwg0JvRjNCy0ZbQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCA3OTAwMA!5e0!3m2!1suk!2sua!4v1667565408706!5m2!1suk!2sua"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </li>
      <li class="contacts__item">
        <div class="location__container">
          <h3 class="location__title">АйГав на Патона</h3>
          <ul class="location__list">
            <li class="location__item">
              <svg class="location__ico" width="50" height="50">
                <use
                  xlink:href="./images/contacts/ico-contacts.svg#icon-location"
                ></use>
              </svg>
              <p class="location__text">Залізничний район, вул. Патона, 13</p>
            </li>
            <li class="location__item">
              <svg class="location__ico" width="50" height="50">
                <use
                  xlink:href="./images/contacts/ico-contacts.svg#icon-phone"
                ></use>
              </svg>
              <p class="location__text">+380670000001</p>
            </li>
            <li class="location__item">
              <svg class="location__ico" width="50" height="50">
                <use
                  xlink:href="./images/contacts/ico-contacts.svg#icon-clock"
                ></use>
              </svg>
              <p class="location__text">Цілодобово</p>
            </li>
          </ul>
        </div>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2574.063413294385!2d23.961624515927717!3d49.82247334029359!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473ae769797918b9%3A0xfaf3d1f43222108e!2z0LLRg9C70LjRhtGPINCf0LDRgtC-0L3QsCwgMTMsINCb0YzQstGW0LIsINCb0YzQstGW0LLRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjCwgNzkwMDA!5e0!3m2!1suk!2sua!4v1667565588939!5m2!1suk!2sua"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </li>
    </ul>
  </div>
</section>
