<footer class="footer">
  <div class="footer__container">
    <a class="footer__logo-container" href="#">
      <svg class="footer__logo-ico" width="90" height="90">
        <use xlink:href="./images/footer/ico-footer.svg#icon-logo"></use>
      </svg>
      <div class="footer__logo-text">
        <h2 class="footer__logo-title">АйГав</h2>
        <span class="footer__logo-descript">ветеринарна клініка</span>
      </div>
    </a>
    <div class="footer__nav-container">
      <ul class="footer__nav-list">
        <li class="footer__nav-item">
          <a class="footer__nav-link" href="#">Головна</a>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link" href="#">Послуги та ціни</a>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link" href="#">Історія копаніі</a>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link" href="#">Наші фахівці</a>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link" href="#">Вакансії</a>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link" href="#">Реквізити</a>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link" href="#">Онлайн-сплата</a>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link" href="#">Відгуки</a>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link" href="#">Контакти</a>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link" href="#">Грумінг-салон</a>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link" href="#">Косметика</a>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link" href="#">Новини та акції</a>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link" href="#">Влог</a>
        </li>
      </ul>
    </div>
    <div class="footer__contact-container">
      <div class="footer__contact-app-container">
        <ul class="footer__contact-app-list">
          <li class="footer__contact-app-item">
            <a class="footer__contact-app-link" href="#"
              ><img
                class="footer__contact-app-picture"
                src="./images/footer/appstore.png"
                alt="appsore"
            /></a>
          </li>
          <li class="footer__contact-app-item">
            <a class="footer__contact-app-link" href="#"
              ><img
                class="footer__contact-app-picture"
                src="./images/footer/googleplay.png"
                alt="googleplay"
            /></a>
          </li>
        </ul>
      </div>
      <div class="footer__contact-sociallik-container">
        <ul class="footer__contact-sociallik-list">
          <li class="footer__contact-sociallik-item">
            <a class="footer__contact-sociallik-link" href="#">
              <svg
                class="footer__contact-sociallink-ico"
                width="40"
                height="40"
              >
                <use xlink:href="./images/footer/ico-footer.svg#icon-fb"></use>
              </svg>
            </a>
          </li>
          <li class="footer__contact-sociallik-item">
            <a class="footer__contact-sociallik-link" href="#">
              <svg
                class="footer__contact-sociallink-ico"
                width="40"
                height="40"
              >
                <use
                  xlink:href="./images/footer/ico-footer.svg#icon-inst"
                ></use>
              </svg>
            </a>
          </li>
          <li class="footer__contact-sociallik-item">
            <a class="footer__contact-sociallik-link" href="#">
              <svg
                class="footer__contact-sociallink-ico"
                width="40"
                height="40"
              >
                <use
                  xlink:href="./images/footer/ico-footer.svg#icon-twitter"
                ></use>
              </svg>
            </a>
          </li>
          <li class="footer__contact-sociallik-item">
            <a class="footer__contact-sociallik-link" href="#">
              <svg
                class="footer__contact-sociallink-ico"
                width="40"
                height="40"
              >
                <use
                  xlink:href="./images/footer/ico-footer.svg#icon-youtube"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__contact-text-container">
        <a class="footer__contact-text" href="tel:+380670000001"
          >+38(067)000-00-01</a
        >
        <a class="footer__contact-text" href="email:i-gav@ukr.net"
          >i-gav@ukr.net</a
        >
      </div>
    </div>
  </div>
</footer>
