<section class="hero">
  <div class="hero__container">
    <div
      id="carouselElementHero"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselElementHero"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselElementHero"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselElementHero"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselElementHero"
          data-bs-slide-to="3"
          aria-label="Slide 4"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselElementHero"
          data-bs-slide-to="4"
          aria-label="Slide 5"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselElementHero"
          data-bs-slide-to="5"
          aria-label="Slide 6"
        ></button>
      </div>
      <div class="carousel-inner" id="hero-insert-container">
        <!-- 1я карточка карусели -->
        <div class="carousel-item active">
          <div class="hero__container">
            <h1 class="hero__title">АйГав - цілодобова ветклініка</h1>
            <img
              class="hero__picture"
              src="./images/hero/image1.jpg"
              height="915"
              alt="aibolit"
            />
            <button class="hero__button" type="button">Записатися</button>
            <ul class="hero__social-link social-link__list">
              <li class="social-link__item">
                <a class="social-link__link facebook-ico" href="#">
                  <img
                    class="social-link__ico"
                    src="./images/hero/fb.svg"
                    alt="facebook"
                /></a>
              </li>
              <li class="social-link__item">
                <a class="social-link__link instagram-ico" href="#"
                  ><img
                    class="social-link__ico"
                    src="./images/hero/inst.svg"
                    alt="instagramm"
                /></a>
              </li>
              <li class="social-link__item">
                <a class="social-link__link youtube-ico" href="#"
                  ><img
                    class="social-link__ico"
                    src="./images/hero/youtube.svg"
                    alt="youtube"
                /></a>
              </li>
            </ul>
          </div>
        </div>
        <!-- 2 карточка карусели -->
        <div class="carousel-item">
          <div class="hero__container">
            <h1 class="hero__title">Комфортні обладнані стаціонари</h1>
            <img
              class="hero__picture"
              src="./images/hero/image2.jpg"
              height="915"
              alt="aibolit"
            />
            <button class="hero__button" type="button">Записатися</button>
            <ul class="hero__social-link social-link__list">
              <li class="social-link__item">
                <a class="social-link__link facebook-ico" href="#"
                  ><img
                    class="social-link__ico"
                    src="./images/hero/fb.svg"
                    alt="facebook"
                /></a>
              </li>
              <li class="social-link__item">
                <a class="social-link__link instagram-ico" href="#"
                  ><img
                    class="social-link__ico"
                    src="./images/hero/inst.svg"
                    alt="instagramm"
                /></a>
              </li>
              <li class="social-link__item">
                <a class="social-link__link youtube-ico" href="#"
                  ><img
                    class="social-link__ico"
                    src="./images/hero/youtube.svg"
                    alt="youtube"
                /></a>
              </li>
            </ul>
          </div>
        </div>
        <!-- 3 карточка карусели -->
        <div class="carousel-item">
          <div class="hero__container">
            <h1 class="hero__title">Сучасне європейске обладнання</h1>
            <img
              class="hero__picture"
              src="./images/hero/image3.jpg"
              height="915"
              alt="aibolit"
            />
            <button class="hero__button" type="button">Записатися</button>
            <ul class="hero__social-link social-link__list">
              <li class="social-link__item">
                <a class="social-link__link facebook-ico" href="#"
                  ><img
                    class="social-link__ico"
                    src="./images/hero/fb.svg"
                    alt="facebook"
                /></a>
              </li>
              <li class="social-link__item">
                <a class="social-link__link instagram-ico" href="#"
                  ><img
                    class="social-link__ico"
                    src="./images/hero/inst.svg"
                    alt="instagramm"
                /></a>
              </li>
              <li class="social-link__item">
                <a class="social-link__link youtube-ico" href="#"
                  ><img
                    class="social-link__ico"
                    src="./images/hero/youtube.svg"
                    alt="youtube"
                /></a>
              </li>
            </ul>
          </div>
        </div>
        <!-- 4 карточка карусели -->
        <div class="carousel-item">
          <div class="hero__container">
            <h1 class="hero__title">Власна сучасна лабораторія</h1>
            <img
              class="hero__picture"
              src="./images/hero/image4.jpg"
              height="915"
              alt="aibolit"
            />
            <button class="hero__button" type="button">Записатися</button>
            <ul class="hero__social-link social-link__list">
              <li class="social-link__item">
                <a class="social-link__link facebook-ico" href="#"
                  ><img
                    class="social-link__ico"
                    src="./images/hero/fb.svg"
                    alt="facebook"
                /></a>
              </li>
              <li class="social-link__item">
                <a class="social-link__link instagram-ico" href="#"
                  ><img
                    class="social-link__ico"
                    src="./images/hero/inst.svg"
                    alt="instagramm"
                /></a>
              </li>
              <li class="social-link__item">
                <a class="social-link__link youtube-ico" href="#"
                  ><img
                    class="social-link__ico"
                    src="./images/hero/youtube.svg"
                    alt="youtube"
                /></a>
              </li>
            </ul>
          </div>
        </div>
        <!-- 5 карточка карусели -->
        <div class="carousel-item">
          <div class="hero__container">
            <h1 class="hero__title">
              Аптека та зоокрамниця за доступними цінами
            </h1>
            <img
              class="hero__picture"
              src="./images/hero/image5.jpg"
              height="915"
              alt="aibolit"
            />
            <button class="hero__button" type="button">Записатися</button>
            <ul class="hero__social-link social-link__list">
              <li class="social-link__item">
                <a class="social-link__link facebook-ico" href="#"
                  ><img
                    class="social-link__ico"
                    src="./images/hero/fb.svg"
                    alt="facebook"
                /></a>
              </li>
              <li class="social-link__item">
                <a class="social-link__link instagram-ico" href="#"
                  ><img
                    class="social-link__ico"
                    src="./images/hero/inst.svg"
                    alt="instagramm"
                /></a>
              </li>
              <li class="social-link__item">
                <a class="social-link__link youtube-ico" href="#"
                  ><img
                    class="social-link__ico"
                    src="./images/hero/youtube.svg"
                    alt="youtube"
                /></a>
              </li>
            </ul>
          </div>
        </div>
        <!-- 6 карточка карусели -->
        <div class="carousel-item">
          <div class="hero__container">
            <h1 class="hero__title">Грумінг салон та косметичні товари</h1>
            <img
              class="hero__picture"
              src="./images/hero/image6.jpg"
              height="915"
              alt="aibolit"
            />
            <button class="hero__button" type="button">Записатися</button>
            <ul class="hero__social-link social-link__list">
              <li class="social-link__item">
                <a class="social-link__link facebook-ico" href="#"
                  ><img
                    class="social-link__ico"
                    src="./images/hero/fb.svg"
                    alt="facebook"
                /></a>
              </li>
              <li class="social-link__item">
                <a class="social-link__link instagram-ico" href="#"
                  ><img
                    class="social-link__ico"
                    src="./images/hero/inst.svg"
                    alt="instagramm"
                /></a>
              </li>
              <li class="social-link__item">
                <a class="social-link__link youtube-ico" href="#"
                  ><img
                    class="social-link__ico"
                    src="./images/hero/youtube.svg"
                    alt="youtube"
                /></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselElementHero"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Предыдущий</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselElementHero"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Следующий</span>
      </button>
    </div>
  </div>
</section>
