<section class="history">
  <div class="history__container">
    <h2 class="history__title">Історія компанії</h2>
    <p class="history__text">
      Історія компанії починається 14 січня 1999 року, коли було образовано
      ТОВ"Шпаки". Ідея прийшла, так як у засновника компанії був цуцик боксера
      Бард....
    </p>
    <a href="#" class="history__more-link">
      <div class="history__more-container">
        <p class="history__more-text">Читати <br />далі</p>
        <svg class="history__more-ico" width="24" height="24">
          <use
            xlink:href="./images/history/ico-history.svg#icon-chevron-right"
          ></use>
        </svg>
      </div>
    </a>
  </div>
</section>
