<section class="services">
  <div class="services__container">
    <ul class="services__list" id="services-insert-container">
      <!-- 1я карточка -->
      <li class="services__item">
        <h2 class="services__title">Терапія</h2>
        <svg class="services__picture" width="110" height="110">
          <use
            xlink:href="./images/services/ico-services.svg#icon-terapy"
          ></use>
        </svg>
        <!-- <img
          class="services__picture"
          alt="Терапія"
          height="110"
          src="./images/services/terapy.svg"
        /> -->
        <p class="services__quantity">26 послуг</p>
      </li>
      <!-- 2я карточка -->
      <li class="services__item">
        <h2 class="services__title">Хірургія</h2>
        <svg class="services__picture" width="110" height="110">
          <use
            xlink:href="./images/services/ico-services.svg#icon-hirurgy"
          ></use>
        </svg>
        <p class="services__quantity">22 послуги</p>
      </li>
      <!-- 3я карточка -->
      <li class="services__item">
        <h2 class="services__title">Неврологія</h2>
        <svg class="services__picture" width="110" height="110">
          <use
            xlink:href="./images/services/ico-services.svg#icon-nevrology"
          ></use>
        </svg>
        <p class="services__quantity">16 послуг</p>
      </li>
      <!-- 4я карточка -->
      <li class="services__item">
        <h2 class="services__title">Ортопедія</h2>
        <svg class="services__picture" width="110" height="110">
          <use
            xlink:href="./images/services/ico-services.svg#icon-ortopedy"
          ></use>
        </svg>
        <p class="services__quantity">14 послуг</p>
      </li>
      <!-- 5я карточка -->
      <li class="services__item">
        <h2 class="services__title">Дермотологія</h2>
        <svg class="services__picture" width="110" height="110">
          <use
            xlink:href="./images/services/ico-services.svg#icon-dermotology"
          ></use>
        </svg>
        <p class="services__quantity">22 послуги</p>
      </li>
      <!-- 6я карточка -->
      <li class="services__item">
        <h2 class="services__title">Офтальмологія</h2>
        <svg class="services__picture" width="110" height="110">
          <use
            xlink:href="./images/services/ico-services.svg#icon-oftomotology"
          ></use>
        </svg>
        <p class="services__quantity">22 послуги</p>
      </li>
      <!-- 7я карточка -->
      <li class="services__item">
        <h2 class="services__title">Кардіологія</h2>
        <svg class="services__picture" width="110" height="110">
          <use
            xlink:href="./images/services/ico-services.svg#icon-cardiology"
          ></use>
        </svg>
        <p class="services__quantity">11 послуг</p>
      </li>
      <!-- 8я карточка -->
      <li class="services__item">
        <h2 class="services__title">Стоматологія</h2>
        <svg class="services__picture" width="110" height="110">
          <use
            xlink:href="./images/services/ico-services.svg#icon-stomotology"
          ></use>
        </svg>
        <p class="services__quantity">32 послуги</p>
      </li>
      <!-- 9я карточка -->
      <li class="services__item">
        <h2 class="services__title">Репродуктологія</h2>
        <svg class="services__picture" width="110" height="110">
          <use
            xlink:href="./images/services/ico-services.svg#icon-reproductology"
          ></use>
        </svg>
        <p class="services__quantity">6 послуг</p>
      </li>
      <!-- 10я карточка -->
      <li class="services__item">
        <h2 class="services__title">Візуальна діагностіка</h2>
        <svg class="services__picture" width="110" height="110">
          <use
            xlink:href="./images/services/ico-services.svg#icon-visual"
          ></use>
        </svg>
        <p class="services__quantity">23 послуги</p>
      </li>
      <!-- 11я карточка -->
      <li class="services__item">
        <h2 class="services__title">Лабораторія</h2>
        <svg class="services__picture" width="110" height="110">
          <use
            xlink:href="./images/services/ico-services.svg#icon-laboratory"
          ></use>
        </svg>
        <p class="services__quantity">42 послуги</p>
      </li>
      <!-- 12я карточка -->
      <li class="services__item">
        <h2 class="services__title">Онкологія</h2>
        <svg class="services__picture" width="110" height="110">
          <use
            xlink:href="./images/services/ico-services.svg#icon-oncology"
          ></use>
        </svg>
        <p class="services__quantity">9 послуг</p>
      </li>
      <!-- 13я карточка -->
      <li class="services__item">
        <h2 class="services__title">Ендокрінологія</h2>
        <svg class="services__picture" width="110" height="110">
          <use
            xlink:href="./images/services/ico-services.svg#icon-endocr"
          ></use>
        </svg>
        <p class="services__quantity">14 послуг</p>
      </li>
      <!-- 14я карточка -->
      <li class="services__item">
        <h2 class="services__title">Екзотичні тварини</h2>
        <svg class="services__picture" width="110" height="110">
          <use
            xlink:href="./images/services/ico-services.svg#icon-exotic"
          ></use>
        </svg>
        <p class="services__quantity">20 послуг</p>
      </li>
      <!-- 15я карточка -->
      <li class="services__item">
        <h2 class="services__title">Аптека</h2>
        <svg class="services__picture" width="110" height="110">
          <use
            xlink:href="./images/services/ico-services.svg#icon-apteca"
          ></use>
        </svg>
        <p class="services__quantity">2 послуги</p>
      </li>
      <!-- 16я карточка -->
      <li class="services__item">
        <h2 class="services__title">Грумінг</h2>
        <svg class="services__picture" width="110" height="110">
          <use
            xlink:href="./images/services/ico-services.svg#icon-grooming"
          ></use>
        </svg>
        <p class="services__quantity">6 послуг</p>
      </li>
    </ul>
  </div>
</section>
