<section class="services">
  <div class="services__container">
    <ul class="services__list" id="services-insert-container">
      <!-- 1я карточка -->
      <li class="services__item">
        <h2 class="services__title">Терапія</h2>
        <svg class="services__picture" width="110" height="110">
          <use href="./images/services/terapy.svg"></use>
        </svg>
        <!-- <img
          class="services__picture"
          alt="Терапія"
          height="110"
          src="./images/services/terapy.svg"
        /> -->
        <p class="services__quantity">26 послуг</p>
      </li>
      <!-- 2я карточка -->
      <li class="services__item">
        <h2 class="services__title">Хірургія</h2>
        <img
          class="services__picture"
          alt="Хірургія"
          height="110"
          src="./images/services/hirurgy.svg"
        />
        <p class="services__quantity">22 послуги</p>
      </li>
      <!-- 3я карточка -->
      <li class="services__item">
        <h2 class="services__title">Неврологія</h2>
        <img
          class="services__picture"
          alt="Хірургія"
          height="110"
          src="./images/services/nevrology.svg"
        />
        <p class="services__quantity">16 послуг</p>
      </li>
      <!-- 4я карточка -->
      <li class="services__item">
        <h2 class="services__title">Ортопедія</h2>
        <img
          class="services__picture"
          alt="Хірургія"
          height="110"
          src="./images/services/ortopedy.svg"
        />
        <p class="services__quantity">14 послуг</p>
      </li>
      <!-- 5я карточка -->
      <li class="services__item">
        <h2 class="services__title">Дермотологія</h2>
        <img
          class="services__picture"
          alt="Хірургія"
          height="110"
          src="./images/services/dermotology.svg"
        />
        <p class="services__quantity">22 послуги</p>
      </li>
      <!-- 6я карточка -->
      <li class="services__item">
        <h2 class="services__title">Офтальмологія</h2>
        <img
          class="services__picture"
          alt="Хірургія"
          height="110"
          src="./images/services/oftomotology.svg"
        />
        <p class="services__quantity">22 послуги</p>
      </li>
      <!-- 7я карточка -->
      <li class="services__item">
        <h2 class="services__title">Кардіологія</h2>
        <img
          class="services__picture"
          alt="Хірургія"
          height="110"
          src="./images/services/cardiology.svg"
        />
        <p class="services__quantity">11 послуг</p>
      </li>
      <!-- 8я карточка -->
      <li class="services__item">
        <h2 class="services__title">Стоматологія</h2>
        <img
          class="services__picture"
          alt="Хірургія"
          height="110"
          src="./images/services/stomotology.svg"
        />
        <p class="services__quantity">32 послуги</p>
      </li>
      <!-- 9я карточка -->
      <li class="services__item">
        <h2 class="services__title">Репродуктологія</h2>
        <img
          class="services__picture"
          alt="Хірургія"
          height="110"
          src="./images/services/reproductology.svg"
        />
        <p class="services__quantity">6 послуг</p>
      </li>
      <!-- 10я карточка -->
      <li class="services__item">
        <h2 class="services__title">Візуальна діагностіка</h2>
        <img
          class="services__picture"
          alt="Хірургія"
          height="110"
          src="./images/services/visual.svg"
        />
        <p class="services__quantity">23 послуги</p>
      </li>
      <!-- 11я карточка -->
      <li class="services__item">
        <h2 class="services__title">Лабораторія</h2>
        <img
          class="services__picture"
          alt="Хірургія"
          height="110"
          src="./images/services/laboratory.svg"
        />
        <p class="services__quantity">42 послуги</p>
      </li>
      <!-- 12я карточка -->
      <li class="services__item">
        <h2 class="services__title">Онкологія</h2>
        <img
          class="services__picture"
          alt="Хірургія"
          height="110"
          src="./images/services/oncology.svg"
        />
        <p class="services__quantity">9 послуг</p>
      </li>
      <!-- 13я карточка -->
      <li class="services__item">
        <h2 class="services__title">Ендокрінологія</h2>
        <img
          class="services__picture"
          alt="Хірургія"
          height="110"
          src="./images/services/endocr.svg"
        />
        <p class="services__quantity">14 послуг</p>
      </li>
      <!-- 14я карточка -->
      <li class="services__item">
        <h2 class="services__title">Екзотичні тварини</h2>
        <img
          class="services__picture"
          alt="Хірургія"
          height="110"
          src="./images/services/exotic.svg"
        />
        <p class="services__quantity">20 послуг</p>
      </li>
      <!-- 15я карточка -->
      <li class="services__item">
        <h2 class="services__title">Аптека</h2>
        <img
          class="services__picture"
          alt="Хірургія"
          height="110"
          src="./images/services/apteca.svg"
        />
        <p class="services__quantity">2 послуги</p>
      </li>
      <!-- 16я карточка -->
      <li class="services__item">
        <h2 class="services__title">Грумінг</h2>
        <img
          class="services__picture"
          alt="Хірургія"
          height="110"
          src="./images/services/grooming.svg"
        />
        <p class="services__quantity">6 послуг</p>
      </li>
    </ul>
  </div>
</section>
