<section class="soon">
  <div class="soon__container">
    <h2 class="soon__title">Незабаром</h2>
    <p class="soon__text">Зручний додаток для вихованців та їх господарів</p>
    <ul class="soon__mobile-list">
      <li class="soon__mobile-item">
        <img
          class="soon__mobile"
          src="./images/soon/appstore.png"
          alt="app store"
          width="170"
          height="50"
        />
      </li>
      <li class="soon__mobile-item">
        <img
          class="soon__mobile"
          src="./images/soon/googleplay.png"
          alt="google play"
          width="170"
          height="50"
        />
      </li>
    </ul>
    <img class="soon__back-image" src="./images/soon/pet.png" alt="pet" />
    <img
      class="soon__front-image"
      src="./images/soon/mobile.png"
      alt="mobile"
    />
  </div>
</section>
