<section class="team">
  <div class="team__container">
    <h2 class="team__title">Наші фахівці</h2>
    <ul class="team__list">
      <li class="team__item">
        <a class="team__link" href="#">
          <img class="team__image" src="./images/team/1.jpg" alt="team-face" />
        </a>
      </li>
      <li class="team__item">
        <a class="team__link" href="#">
          <img class="team__image" src="./images/team/2.jpg" alt="team-face" />
        </a>
      </li>
      <li class="team__item">
        <a class="team__link" href="#">
          <img class="team__image" src="./images/team/3.jpg" alt="team-face" />
        </a>
      </li>
      <li class="team__item">
        <a class="team__link" href="#">
          <img class="team__image" src="./images/team/1.jpg" alt="team-face" />
        </a>
      </li>
      <li class="team__item">
        <a class="team__link" href="#">
          <img class="team__image" src="./images/team/2.jpg" alt="team-face" />
        </a>
      </li>
      <li class="team__item">
        <a class="team__link" href="#">
          <img class="team__image" src="./images/team/3.jpg" alt="team-face" />
        </a>
      </li>
    </ul>
    <a href="#" class="team__more-link">
      <div class="team__more-container">
        <p class="team__more-text">Дивитись <br />всіх</p>
        <svg class="team__more-ico" width="24" height="24">
          <use xlink:href="./images/team/ico-team.svg#icon-chevron-right"></use>
        </svg>
      </div>
    </a>
  </div>
</section>
